@import "../../styles/variables";
@import "../../styles/font";

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border-radius: 20px;
  background-color: $complement;
  border: none;

  .image-container {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      transition: 0.3s ease;
      height: 250px;
      background-size: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  ul li {
    color: white;
    text-align: left;
    font: {
      family: $text-font;
    }
  }

  .proj-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    h3 {
      padding-top: 10px;
      font: {
        family: $text-font;
        weight: 700;
        size: 25px;
      }
      display: flex;
      align-items: center;
    }

    .arrow-icon {
      position: relative;
      height: 30px;
      width: auto;
      opacity: 0.5;
      transition: transform 0.3s, opacity 0.3s;

      &.hover {
        opacity: 0;
        transform: translate(-30px, 30px);
        margin-left: -30px;
      }
    }
  }
  &:hover .arrow-icon:not(.hover) {
    opacity: 0;
    transform: translate(30px, -30px);
  }

  &:hover .arrow-icon.hover {
    opacity: 1;
    margin-left: -30px;
    transform: translateX(0px);
  }
}

@media screen and (min-width: 1500px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    border-radius: 20px;
    background-color: $complement;
    border: none;

    .image-container {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        transition: 0.3s ease;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        height: auto;
        width: 550px;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }

    ul li {
      color: white;
      text-align: left;
      font: {
        family: $text-font;
        size: 20px;
      }
      word-wrap: break-word;
      width: 100%;
    }

    .proj-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      h3 {
        padding-top: 10px;
        font: {
          family: $text-font;
          weight: 700;
          size: 25px;
        }
        display: flex;
        align-items: center;
      }

      .arrow-icon {
        position: relative;
        height: 30px;
        width: auto;
        opacity: 0.5;
        transition: transform 0.3s, opacity 0.3s;

        &.hover {
          opacity: 0;
          transform: translate(-30px, 30px);
          margin-left: -30px;
        }
      }
    }
    &:hover .arrow-icon:not(.hover) {
      opacity: 0;
      transform: translate(30px, -30px);
    }

    &:hover .arrow-icon.hover {
      opacity: 1;
      margin-left: -30px;
      transform: translateX(0px);
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    border-radius: 20px;
    background-color: $complement;
    border: none;

    .image-container {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        transition: 0.3s ease;
        height: auto;
        object-fit: contain;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        height: auto;
        width: 550px;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }

    ul li {
      color: white;
      text-align: left;
      font: {
        family: $text-font;
        size: 20px;
      }
      word-wrap: break-word;
      width: 100%;
    }

    .proj-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      h3 {
        padding-top: 10px;
        font: {
          family: $text-font;
          weight: 700;
          size: 25px;
        }
        display: flex;
        align-items: center;
      }

      .arrow-icon {
        position: relative;
        height: 30px;
        width: auto;
        opacity: 0.5;
        transition: transform 0.3s, opacity 0.3s;

        &.hover {
          opacity: 0;
          transform: translate(-30px, 30px);
          margin-left: -30px;
        }
      }
    }
    &:hover .arrow-icon:not(.hover) {
      opacity: 0;
      transform: translate(30px, -30px);
    }

    &:hover .arrow-icon.hover {
      opacity: 1;
      margin-left: -30px;
      transform: translateX(0px);
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 370px;
    border-radius: 20px;
    background-color: $complement;
    border: none;

    .image-container {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        transition: 0.3s ease;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        height: 100%;
        width: 100%;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }

    ul li {
      color: white;
      text-align: left;
      font: {
        family: $text-font;
        size: 18px;
      }
      word-wrap: break-word;
      width: 100%;
    }

    .proj-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;
      h3 {
        padding-top: 10px;
        width: 100%;
        font: {
          family: $text-font;
          weight: 700;
          size: 25px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .arrow-icon {
        position: relative;
        height: 30px;
        width: auto;
        opacity: 0.5;
        transition: transform 0.3s, opacity 0.3s;

        &.hover {
          opacity: 0;
          transform: translate(-30px, 30px);
          margin-left: -30px;
        }
      }
    }
    &:hover .arrow-icon:not(.hover) {
      opacity: 0;
      transform: translate(30px, -30px);
    }

    &:hover .arrow-icon.hover {
      opacity: 1;
      margin-left: -30px;
      transform: translateX(0px);
    }
  }
}