@import "../../styles/variables";
@import "../../styles/font";

.projects {
  background-color: $complement;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  .projects-heading {
    display: flex;
    padding-left: 40px;

    h2 {
        font: {
            family: $heading-font;
            size: 40px;
        }
        letter-spacing: 5px;
    }
  }

  .desc {
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font: {
        family: $text-font;
    }
  }
  .my-projects {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
