// App.scss

.certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    h2 {
      margin-bottom: 20px;
    }
  }
  
  .three-d-container {
    position: relative;
    perspective: 800px;
    width: 200px;
    height: 200px;
  }
  
  .flat-square {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #3498db;
    transform: rotateX(0) rotateY(0) rotateZ(0);
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
  
    &:hover {
      transform: rotateX(-30deg) rotateY(45deg) rotateZ(0);
    }
  }
  
  .standing-image {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('../../images/docker.png');
    background-size: cover;
    transform: translateZ(100px);
    transform-style: preserve-3d;
  }
  