@import "../../styles/variables";
@import "../../styles/font";

.skill {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  background-color: $primary-color;
  padding-top: 50px;

  &.visible {
    background-color: $complement;
  }

  transition: background-color 1s ease;

  p {
    font: {
      family: $text-font;
    }
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .skill-bx {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    min-height: 200px;
  }

  h2 {
    letter-spacing: 5px;
    font: {
      family: $heading-font;
      weight: 800;
    }
  }

  h4 {
    padding-bottom: 40px;
    font: {
      family: $heading-font;
      weight: 800;
      size: 30px;
    }
    letter-spacing: 5px;
  }
  .item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      // width: 60;
      height: 90px;
      // padding-bottom: 10px;
    }

    .skill-progress {
      background-color: #20B2AA;
      height: 10px; // make the progress bar thinner
      border-radius: 50px;
      overflow: hidden;
      margin-top: 0.5rem;
      width: 250px;

      .progress-bar {
        height: 100%;
        background: linear-gradient(to right, #F08080, #A0522D);
        border-radius: 2px;
        text-align: center;
        width: 0%; // Initial state

        &.animate {
          animation: fill 3s forwards;
        }
      }
    }
  }

  .spacer {
    padding-top: 60px;
  }
}

@keyframes fill {
  to {
    width: var(--fill);
  }
}