@import "../../styles/variables";
@import "../../styles/font";

.interests {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  flex-direction: column;

  h2 {
    font: {
      family: $heading-font;
      size: 60px;
    }
    letter-spacing: 4px;
    color: $text;
  }

  .my-interests{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .indiv-interest{
    display: flex;
    justify-content: center;

    p{
      font: {
        family: $text-font;
        size: 70px
      }
      color: $text;
      transition: transform 0.5s ease;
      order: 0;
    }

    img{
      display: none;
      transition: display 0.5s ease;
      order: 1; 
    }

    &:hover img{
      display: block;
    }
  }

  .left{
    &:hover p{
      transform: translateX(-20px);
    }
  }

  .right{
    &:hover p{
      transform: translateX(20px);
      order: 2; 
    }

    &:hover img {
      order: 1;
    }
  }
}
