@import "../../styles/variables";
@import "../../styles/font";

.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 40px;

  h2 {
    font: {
      family: $heading-font;
    }
    letter-spacing: 4px;
    color: $text;
  }

  .interests-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .indiv-interest {
    display: flex;
    text-align: center;
    justify-content: center;

    .img-hover{
      width: 32px;
      height: 32px;
      opacity: 1;
    }

    .left {
      color: $text;
      font: {
        family: $text-font;
        size: 60px;
      }
      letter-spacing: 2px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateX(40px);
        text-decoration: line-through;
        text-decoration-thickness: 2px;
      }

      &:hover + .img-hover{
        opacity: 0;
      }
    }

    .right {
      color: $text;
      font: {
        family: $text-font;
        size: 60px;
      }
      letter-spacing: 2px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateX(-40px);
        text-decoration: line-through;
        text-decoration-thickness: 2px;
      }
    }
  }
}