@import "../../styles/variables";

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-self: center;
  text-align: center;
  background-color: $primary-color;

  .link {
    display: flex;
    gap: 120px;
    align-items: center;
  }

  a {
    color: $text;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    color: $text;
    font: {
      size: 12px;
      weight: 800;
    }
    text: {
      decoration: none;
    }

    &:hover {
      text-decoration: underline;
      transform: scale(1.5);
    }
  }

  img {
    width: 100px;
    height: auto;
    transition: height 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}

@media screen and (min-width: 1500px) {
  .navigation{
    a{
      font-size: 16px;
    }
    img{
      width: 80%;
      height: auto;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navigation{
    .link{
      gap: 90px
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation{
    .link{
      gap: 60px
    }
  }
}