@import "../../styles/variables";
@import "../../styles/font";

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1140px;
  justify-content: center;
  border: 1px solid $accent;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 40px;
  background-color: $secondary-color;
  color: $text;
  padding-left: 20px;
  height: 76vh;

  ::before {
    content: "";
    display: block;
    height: 200px; /* The height of your navbar */
    margin: -200px 0 0; /* Negative value of height */
    visibility: hidden;
  }

  h1 {
    font-size: 70px;
    font: {
      family: $heading-font;
      weight: 800;
    }
    letter-spacing: 4.5px;
  }

  p {
    font: {
      size: 20px;
      family: $text-font;
    }
    padding-top: 15px;
  }

  .heading {
    display: flex;
    width: 60%;
    flex-direction: column;
  }

  .my-logo {
    display: flex;
    width: 40%;
  }

  .description {
    padding-bottom: 15px;
  }

  img {
    width: 500px;
    height: auto;
    margin-top: -25%;
    transition: transform 0.8s ease-in-out;
  }

  .floating-image {
    animation: floatingAnimation 5s ease-in-out infinite;
  }

  @keyframes floatingAnimation {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

@media screen and (min-width: 1500px) {
  .banner {
    width: 90%;
    height: 82vh;
    h1 {
      font-size: 120px;
    }

    p {
      font-size: 28px;
    }

    .floating-image {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .banner{
    width: 90%;
    height: 70vh;
    h1{
      font-size: 60px;
    }

    img{
      width: 450px;
    }

    .heading{
      width: 55;
    }

    .my-logo{
      width: 45%;
    }
  }
}


@media screen and (max-width: 768px) {
  .banner {
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 0;
    .heading {
      width: 90%; 
      h1 {
        font-size: 44px;
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 18px;
      }
    }

    .heading{
      padding-top: 5%
    }

    .my-logo {
      width: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        margin-left: 6%;
      }
    }
  }
}

