@import "../../styles/variables";
@import "../../styles/font";

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1140px;
  justify-content: center;
  border: 1px solid $accent;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 40px;
  background-color: $secondary-color;
  color: $text;
  padding-left: 20px;

  h1 {
    font-size: 50px;
    font: {
      family: $heading-font;
      weight: 800;
    }
    letter-spacing: 4.5px;
  }

  p{
    font: {
      size: 20px;
      family: $text-font;
    }
    padding-top: 15px;
  }

  .heading {
    max-width: 950px;
    display: flex;
    flex-direction: column;
  }

  .description{
    padding-bottom: 15px;
  }

  img {
    width: 400px;
    height: auto;
    transition: transform 0.8s ease-in-out;
  }

  .floating-image {
    animation: floatingAnimation 5s ease-in-out infinite;
  }

  @keyframes floatingAnimation {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
